* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Arial;
  background-color: #000000;
  padding: 50px;
}
.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  width: 400px;
  height: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 24px;
}

.app-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.login-form {
  text-align: center;
  position: relative;
}
.control-group {
  margin-bottom: 30px;
}

.form-label-name {
  position: absolute;
  top: 30px;
  font-weight: bold;
}
.form-label-pass {
  position: absolute;
  top: 120px;
  font-weight: bold;
}

#login-name {
  /* text-align: center; */
  position: relative;
  top: 60px;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0;
  width: 330px;
  height: 40px;
  transition: border 0.5s;
}

#login-pass {
  /* text-align: center; */
  position: relative;
  top: 80px;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0;
  width: 330px;
  height: 40px;
  transition: border 0.5s;
}

input::placeholder {
  color: rgb(106, 106, 110);
  position: relative;
  left: 5px;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.btn {
  position: relative;
  top: 100px;
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980b9;
}

.a-login-link {
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.registrate {
  position: relative;
  top: 110px;
}
